<h1 class="page-header">Latest Statuses</h1>

<%= link_to 'New Status', new_status_path, class: 'btn btn-primary' %>
<%= link_to 'Sign Up', new_status_path, class: 'btn btn-primary' %>
<%= link_to 'Sign In', new_status_path, class: 'btn btn-primary' %>

<% @statuses.each do |status| %>
  <div class="panel panel-default">
    <p class="panel-heading">by <%= status.user.full_name %></p>
    <p><%= status.content %></p>
    <p><a><%= link_to 'Show', status %></a> | 
    <a><%= link_to 'Edit', edit_status_path(status) %></a> | 
    <a><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></a></p>
  </div>
<% end %>